{% extends 'base.html' %}

{% block content %}
<h3 class="text-center mt-5 mb-5">Ваша Корзина {% if not cart.product.count %}пуста{% endif %}</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Наименование</th>
      <th scope="col">Изображение</th>
      <th scope="col">Цена</th>
      <th scope="col">Кол-во</th>
      <th scope="col">Общая цена</th>
    </tr>
  </thead>
  <tbody>
    {% for item in cart.products.all %}
        <tr>
        <th scope="row">{{ item.content_object.title }}</th>
        <td class='W-25'><img src="{{ item.content_object.image.url }}" class="img-fluid"></td>
        <td>{{ item.content_object.price }} So`m</td>
        <td>{{ item.qty }}</td>
        <td>{{ item.final_price }} So`m</td>

        </tr>
    {% endfor %}

  </tbody>
</table>

{% endblock content %}


