<table class="table">
  <tbody>
    <tr>
      <td>Диагоналы</td>
      <td>{{ product.diagonal }}</td>
    </tr>
      <td>Тип дисплея</td>
      <td>{{ product.display_type }}</td>
    </tr>
    <tr>
      <td>Частота просессора</td>
      <td>{{ product.processor_freq }}</td>
    <tr>
    </tr>
      <td>РАМ</td>
      <td>{{ product.ram }}</td>
    <tr>
    </tr>
      <td>Видеокарта</td>
      <td>{{ product.video }}</td>
    <tr>
    </tr>
      <td>Время работы аккумулятора</td>
      <td>{{ product.time_widhout_charge }}</td>
    </tr>
  </tbody>
</table>