<table class="table">
  <tbody>
    <tr>
      <td>Диагоналы</td>
      <td>{{ product.diagonal }}</td>
    </tr>
      <td>Тип дисплея</td>
      <td>{{ product.display_type }}</td>
    </tr>
    <tr>
      <td>Разррешение екрана</td>
      <td>{{ product.resolution }}</td>
    </tr>
    <tr>
      <td>Заряд аккумулятора</td>
      <td>{{ product.accum_volume }}</td>
    </tr>
    <tr>
      <td>РАМ</td>
      <td>{{ product.ram }}</td>
    </tr>
    <tr>
      <td>Наличие слота для SD карты</td>
      <td>{{ product.sd }}</td>
    </tr>
    <tr>
      <td>Максимальный объем SD карты</td>
      <td>{{ product.sd_volume_max }}</td>
    </tr>
    <tr>
      <td>Камера (МП)</td>
      <td>{{ product.main_cam_up }}</td>
    </tr>
    <tr>
      <td>фронталъная камера (МП)</td>
      <td>{{ product.frontal_cam_up }}</td>
    </tr>
  </tbody>
</table>